{% extends 'admin/layout/_default.html.twig' %}
{% trans_default_domain 'admin' %}

{% block body_class 'page-login' %}

{% block page_title %} {{ 'check.email.title'|trans }} {% endblock %}

{% block wrapper_wrapper %}
    <div class="login-wrapper">
        
        <h6 class="mb-4"> {{ 'check.email.info_1'|trans }}
            {{ 'check.email.info_2'|trans }} {{ tokenLifetime|date('g') }} {{ 'check.email.hour'|trans }}
        </h6>

        <div class="alert alert-dark" role="alert">
            {{ 'check.email.alert'|trans }}
            <a href="{{ path('admin_forgot_password_request') }}">{{ 'check.email.try_again'|trans }}</a>
        </div>

        <section class="content">
            <div class="form-group field-button">
                <a class="btn btn-primary btn-lg btn-block" href="{{ path('admin_dashboard') }}">
                    {{'error.return'|trans}}
                </a>
            </div>
        </section>

    </div>
{% endblock %}
