{% extends '@!EasyAdmin/page/login_minimal.html.twig' %}
{% trans_default_domain 'admin' %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
{% endblock %}

{% block body_class 'page-login' %}

{% block page_title %} Reset your password {% endblock %}

{% block wrapper_wrapper %}
    <div class="login-wrapper">

        <header class="main-header mb-3">
            <h1> Reset your password </h1>
        </header>

        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <section>
            {{ form_start(requestForm) }}
            <div class="form-group field-text">
                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>Enter your email address and we we will send you a link to reset your password. </div>
            <div class="form-group field-button">
                <button class="btn btn-primary btn-lg btn-block">Send password reset email</button>
                {{ form_end(requestForm) }}
            </div>
            <h5><a href="{{ path('admin_login') }}">Connexion</a></h5>
        </section>

    </div>
{% endblock %}
