{% extends 'email/admin/base.html.twig' %}
{% trans_default_domain 'email' %}

{% block title %} {{ 'email.reset_password.welcome'|trans }} {% endblock %}

{% block body %}

    <h1> {{ 'email.reset_password.title'|trans }} </h1>

    <p> {{ 'email.reset_password.title'|trans }} </p>

    <a href="{{ url('admin_reset_password', {token: resetToken.token}) }}">{{ url('admin_reset_password', {token: resetToken.token}) }}</a>

    <p> {{ 'email.reset_password.link_expire'|trans }} {{ tokenLifetime|date('g') }} {{ 'email.reset_password.hour'|trans }} </p>

    <p> {{ 'email.reset_password.cheers'|trans }} </p>

{% endblock %}
